%h1 Start workout

= form_tag workout_path do

  = label :workout, :duration, 'Duration (minutes)'
  = select :workout, :duration, ['Just ride','5', '10', '15', '20', '25', '30', '45', '60']

  = label :workout, :interval, 'Intervals'
  = select :workout, :interval, ['None','4 minutes slow 1 minute fast']

  = label :workout, :video, 'Video Url'
  = text_field :workout, 'video_url'

  .form-actions
    = submit_tag 'Start', :class => "btn btn-primary"
    = link_to "Cancel", home_index_path, :class => "btn"