!!! 5
%html
  %head
    %title Turbo Trainer
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application', :debug => Rails.env.development?
    = csrf_meta_tag

  %body
    #nav
      - if user_signed_in?
        Signed in as
        = current_user.email
        = link_to "Sign out", destroy_user_session_path, :method => :delete

    #content
      = yield