!!! 5
%html
  %head
    %title Turbo Trainer
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application', :debug => Rails.env.development?
    = csrf_meta_tag

  %body
    .navbar{:class => "navbar-fixed-top"}
      .navbar-inner
        .container
          = link_to "Turbo Trainer", home_index_path, :class => "brand"

          - if user_signed_in?
            %p{:class => "navbar-text pull-right"}
              = current_user.email
              = link_to "Sign out", destroy_user_session_path, :method => :delete

    .container
      = yield

    %footer
    %hr